/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
@font-face {
    font-family: boldfont;
    src: url(../fonts/FontsFree-Net-All-Round-Gothic-W01-Bold.ttf);
   
}

@font-face {
    font-family: bookfont;
    src: url(../fonts/FontsFree-Net-All-Round-Gothic-W01-Book.ttf) ;
  
}
span{
    font-family: boldfont!important;
    font-weight: 900;
}
.h1{
font-family: bookfont !important;
}
body{
    font-family: 'Poppins', sans-serif;
}
@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } /* Moves left by half the total width */
  }
  .marquee {
    display: flex;
    animation: marquee 20s linear infinite;
  }

  /* check box */

  

/*** custom checkboxes ***/

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */




.active{
  color: #2CA7F9;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px transparent;
	background-color: #EEEEEE;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #EEEEEE;
}

::-webkit-scrollbar-thumb
{
	background-color: #2CA7F9;
  border-radius: 30px;
  
}


.btn {
  position: relative;
  background-color: #0D61E3;
  text-decoration: none;
  border: none;
  color: #DEDEDE;
  /* box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3); */
}

.btn::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #EEEEEE, #EEEEEE 40%, #0D61E3, #0D61E3);
  border-radius: 0 0 0.5em 0;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.btn:hover::before {
  width: 1.8em;
  height: 1.8em;
}

.btn:active {
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
}



/* send button  */


/* From Uiverse.io by marcelodolza */ 
.button {
  /* --primary: #ff5569; */
  /* --neutral-1: #f7f8f7;
  --neutral-2: #e7e7e7; */
  --radius: 40px;
  color: white;
  /* background-color: #0D61E3; */
  cursor: pointer;
  border-radius: var(--radius);
  /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); */
  /* border: none; */
  /* box-shadow: 0 0.5px 0.5px 1px rgba(255, 255, 255, 0.2),
    0 10px 20px rgba(0, 0, 0, 0.2), 0 4px 5px 0px rgba(0, 0, 0, 0.05); */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: relative;
  transition: all 0.3s ease;
 
}
.button:hover::after {
  /* transform: scale(1.05, 1.1); */
  /* box-shadow: inset 0 -1px 3px 0 rgba(255, 255, 255, 1); */
}
.button::before {
  content: "";
  inset: 7px 6px 6px 6px;
  position: absolute;
  background: linear-gradient(to top, var(--neutral-1), var(--neutral-2));
  border-radius: 30px;
  filter: blur(0.5px);
  z-index: 2;
}
.state p {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .state .icon svg {
  overflow: visible;
} */

/* Outline */
/* .outline {
  position: absolute;
  border-radius: inherit;
  overflow: hidden;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.4s ease;
  inset: -2px -3.5px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
/* .button:hover .outline {
  opacity: 1;
} */
/* .button:hover .outline::before {
  animation-play-state: running;
} */

/* Letters */
.state p span {
  /* display: block; */
  opacity: 0;
  animation: slideDown 0.8s ease forwards calc(var(--i) * 0.03s);
}
.button:hover p span {
  opacity: 1;
  animation: wave 0.5s ease forwards calc(var(--i) * 0.02s);
}
.button:focus p span {
  opacity: 1;
  animation: disapear 0.6s ease forwards calc(var(--i) * 0.03s);
}
@keyframes wave {
  30% {
    opacity: 1;
    transform: translateY(4px) translateX(0) rotate(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-3px) translateX(0) rotate(0);
    color: var(--primary);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(0) rotate(0);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px) translateX(5px) rotate(-90deg);
    color: var(--primary);
    filter: blur(5px);
  }
  30% {
    opacity: 1;
    transform: translateY(4px) translateX(0) rotate(0);
    filter: blur(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-3px) translateX(0) rotate(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(0) rotate(0);
  }
}
@keyframes disapear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(5px) translateY(20px);
    color: var(--primary);
    filter: blur(5px);
  }
}


/* States */
/* .state {
 
  z-index: 2;
  display: flex;
  position: relative;
}
.state--default span:nth-child(4) {
  margin-right: 5px;
}
.state--sent {
  display: none;
}

.button:focus .state--default {
  position: absolute;
}
.button:focus .state--sent {
  display: flex;
}
.button:focus .state--sent span {
  opacity: 0;
  animation: slideDown 0.8s ease forwards calc(var(--i) * 0.2s);
}
.button:focus .state--sent .icon svg {
  opacity: 0;
  animation: appear 1.2s ease forwards 0.8s;
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(4) rotate(-40deg);
    color: var(--primary);
    filter: blur(4px);
  }
  30% {
    opacity: 1;
    transform: scale(0.6);
    filter: blur(1px);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
    filter: blur(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }

} */



/* From Uiverse.io by Ashon-G */ 
.uiverse {
  --duration: 7s;
  --easing: linear;
  --c-color-1: rgba(26, 171, 255, 0.7);
  --c-color-2: #1a23ff;
  --c-color-3: #1a74b1;
  --c-color-4: rgba(33, 11, 224, 0.7);
  --c-shadow: rgba(87, 235, 255, 0.5);
  --c-shadow-inset-top: rgba(8, 97, 138, 0.9);
  --c-shadow-inset-bottom: rgba(215, 246, 255, 0.8);
  --c-radial-inner: #15a1ff;
  --c-radial-outer: #2CA7F9;
  --c-color: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  /* outline: none; */
  position: relative;
  cursor: pointer;
  border: none;
  display: table;
  border-radius: 30px;
  padding: 0;
  margin: 0;
  
  color: var(--c-color);
  background: radial-gradient(
    circle,
    var(--c-radial-inner),
    var(--c-radial-outer) 90%
  );
  /* box-shadow: 0 0 14px var(--c-shadow); */
}

.uiverse:before {
  content: "";
  pointer-events: none;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  box-shadow:
    inset 0 3px 12px var(--c-shadow-inset-top),
    inset 0 -3px 4px var(--c-shadow-inset-bottom);
}

.uiverse .wrapper {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  overflow: hidden;
  border-radius: 30px;
  min-width: 150px;
  padding: 12px 22px;
}
.pop{
  font-family: 'Poppins', sans-serif!important;
  font-weight: 500;
}
.uiverse .wrapper span {
  /* display: inline-block; */
  position: relative;
 
  z-index: 1;
}

.uiverse:hover {
  --duration: 1400ms;
}

.uiverse .wrapper .circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: blur(var(--blur, 8px));
  background: var(--background, transparent);
  transform: translate(var(--x, 0), var(--y, 0)) translateZ(0);
  animation: var(--animation, none) var(--duration) var(--easing) infinite;
}

.uiverse .wrapper .circle.circle-1,
.uiverse .wrapper .circle.circle-9,
.uiverse .wrapper .circle.circle-10 {
  --background: var(--c-color-4);
}

.uiverse .wrapper .circle.circle-3,
.uiverse .wrapper .circle.circle-4 {
  --background: var(--c-color-2);
  --blur: 14px;
}

.uiverse .wrapper .circle.circle-5,
.uiverse .wrapper .circle.circle-6 {
  --background: var(--c-color-3);
  --blur: 16px;
}

.uiverse .wrapper .circle.circle-2,
.uiverse .wrapper .circle.circle-7,
.uiverse .wrapper .circle.circle-8,
.uiverse .wrapper .circle.circle-11,
.uiverse .wrapper .circle.circle-12 {
  --background: var(--c-color-1);
  --blur: 12px;
}

.uiverse .wrapper .circle.circle-1 {
  --x: 0;
  --y: -40px;
  --animation: circle-1;
}

.uiverse .wrapper .circle.circle-2 {
  --x: 92px;
  --y: 8px;
  --animation: circle-2;
}

.uiverse .wrapper .circle.circle-3 {
  --x: -12px;
  --y: -12px;
  --animation: circle-3;
}

.uiverse .wrapper .circle.circle-4 {
  --x: 80px;
  --y: -12px;
  --animation: circle-4;
}

.uiverse .wrapper .circle.circle-5 {
  --x: 12px;
  --y: -4px;
  --animation: circle-5;
}

.uiverse .wrapper .circle.circle-6 {
  --x: 56px;
  --y: 16px;
  --animation: circle-6;
}

.uiverse .wrapper .circle.circle-7 {
  --x: 8px;
  --y: 28px;
  --animation: circle-7;
}

.uiverse .wrapper .circle.circle-8 {
  --x: 28px;
  --y: -4px;
  --animation: circle-8;
}

.uiverse .wrapper .circle.circle-9 {
  --x: 20px;
  --y: -12px;
  --animation: circle-9;
}

.uiverse .wrapper .circle.circle-10 {
  --x: 64px;
  --y: 16px;
  --animation: circle-10;
}

.uiverse .wrapper .circle.circle-11 {
  --x: 4px;
  --y: 4px;
  --animation: circle-11;
}

.uiverse .wrapper .circle.circle-12 {
  --blur: 14px;
  --x: 52px;
  --y: 4px;
  --animation: circle-12;
}

@keyframes circle-1 {
  33% {
    transform: translate(0px, 16px) translateZ(0);
  }

  66% {
    transform: translate(12px, 64px) translateZ(0);
  }
}

@keyframes circle-2 {
  33% {
    transform: translate(80px, -10px) translateZ(0);
  }

  66% {
    transform: translate(72px, -48px) translateZ(0);
  }
}

@keyframes circle-3 {
  33% {
    transform: translate(20px, 12px) translateZ(0);
  }

  66% {
    transform: translate(12px, 4px) translateZ(0);
  }
}

@keyframes circle-4 {
  33% {
    transform: translate(76px, -12px) translateZ(0);
  }

  66% {
    transform: translate(112px, -8px) translateZ(0);
  }
}

@keyframes circle-5 {
  33% {
    transform: translate(84px, 28px) translateZ(0);
  }

  66% {
    transform: translate(40px, -32px) translateZ(0);
  }
}

@keyframes circle-6 {
  33% {
    transform: translate(28px, -16px) translateZ(0);
  }

  66% {
    transform: translate(76px, -56px) translateZ(0);
  }
}

@keyframes circle-7 {
  33% {
    transform: translate(8px, 28px) translateZ(0);
  }

  66% {
    transform: translate(20px, -60px) translateZ(0);
  }
}

@keyframes circle-8 {
  33% {
    transform: translate(32px, -4px) translateZ(0);
  }

  66% {
    transform: translate(56px, -20px) translateZ(0);
  }
}

@keyframes circle-9 {
  33% {
    transform: translate(20px, -12px) translateZ(0);
  }

  66% {
    transform: translate(80px, -8px) translateZ(0);
  }
}

@keyframes circle-10 {
  33% {
    transform: translate(68px, 20px) translateZ(0);
  }

  66% {
    transform: translate(100px, 28px) translateZ(0);
  }
}

@keyframes circle-11 {
  33% {
    transform: translate(4px, 4px) translateZ(0);
  }

  66% {
    transform: translate(68px, 20px) translateZ(0);
  }
}

@keyframes circle-12 {
  33% {
    transform: translate(56px, 0px) translateZ(0);
  }

  66% {
    transform: translate(60px, -32px) translateZ(0);
  }
}

<<<<<<< HEAD
section .wave{
  position: absolute;
  bottom: 0;
  left: 0;
  top: 500px;
  width: 100%;
  height: 450px;
  background: url('../img/wave.png');

  background-size: cover;
}
section .wave.wave1{
  animation: animate 30s linear infinite;
  z-index: -1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;

}
section .wave.wave2{
  animation: animate2 15s linear infinite;
  z-index: -999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
  
}
section .wave.wave3{
  animation: animate3 30s linear infinite;
  z-index: -998;
  opacity: 0.2;
  animation-delay: 2s;
  bottom: 15px;
  
}
section .wave.wave4{
  animation: animate2 5s linear infinite;
  z-index: -997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 10px;

}
@keyframes animate{
  0%{
      background-position-x: 0;
  }
  100%{
      background-position-x: 1000px;
  }
}
@keyframes animate2{
  0%{
      background-position-x: 0;
  }
  100%{
      background-position-x: -1000px;
  }
}
=======
















/* From Uiverse.io by JaydipPrajapati1910 */ 
.button {
  width: 190px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 15px;
  background-color: #2CA7F9;
  border-radius: 10px;
  border: none;
  color: white;
  position: relative;
  cursor: pointer;
  font-weight: 900;
  transition-duration: .2s;
  background: transparent;
}

.button:before, .button:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 30px;
  background: linear-gradient(45deg, #0D61E3, #0000ff, #2CA7F9,#2CA7F9, #0D61E3, #2CA7F9, 
		#0000ff, #0D61E3,#2CA7F9, #0D61E3);
  background-size: 300%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* .button:after {
  filter: blur(50px);
} */

>>>>>>> 65410717ca01163fb0cfead120a4915cb6e57179
