/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: boldfont;
    src: url(../fonts/FontsFree-Net-All-Round-Gothic-W01-Bold.ttf);
   
}

@font-face {
    font-family: bookfont;
    src: url(../fonts/FontsFree-Net-All-Round-Gothic-W01-Book.ttf) ;
  
}
span{
    font-family: boldfont!important;
    font-weight: 900;
}
.h1{
font-family: bookfont !important;
}
body{
    font-family: 'Poppins', sans-serif;
}
@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } /* Moves left by half the total width */
  }
  .marquee {
    display: flex;
    animation: marquee 20s linear infinite;
  }

  /* check box */

  

/*** custom checkboxes ***/

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */